<div class="container">
  <div class="row">
    <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/hackmai-logo.png', class: "img-responsive col-centered", size:"370x118") %>
    <p style="text-align:center">
    Thank you for choosing Hackmai! You’re only a few taps away from your exquisite donburi.
    <br /><br />
    Follow us on...
    <br/>
    <a href ="http://goo.gl/Jd6SzJ">Instagram</a>
    <br/>
    <a href ="http://goo.gl/pE7IPD">Facebook</a>
    <br/>
    <a href="http://goo.gl/gFH9VT">Twitter</a>
    <br/><br />

    for exclusive updates and pictures of our weekly changing bowls.
    <br/><br/>
    <a href ="www.hackmai.com">www.hackmai.com</a>
    </p>
  </div>
</div>

