<%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/hackmai-logo.png', class: "img-responsive col-centered", size:"370x118") %>
<p>
Thank you for choosing HACKMAI!
Start ordering Premium Japanese rice dishes in Chicago online.
</p>
