<%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/hackmai-logo.png', class: "img-responsive col-centered", size:"370x118") %>
<p style="text-align:center">
Thank you for choosing Hackmai! You’re only a few taps away from your exquisite donburi.
<br /><br />
Follow us on...
<br/>
Instagram http://goo.gl/Jd6SzJ
<br/>
Facebook http://goo.gl/pE7IPD
<br/>
Twitter http://goo.gl/gFH9VT
<br/><br />

for exclusive updates and pictures of our weekly changing bowls.
<br /><br />
<a href="www.hackmai.com/orders">Start Ordering</a>
</p>

