<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 pull-right">
        <%=link_to "Checkout", order_new_path, class: "page-scroll btn btn-danger pull-right"%>
      </div>
    </div>
        <br>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.cafecompany.co.jp/brands/2011/11/29/wC_ueno_20111126/negitoro_web.jpg" alt="...">
          <div class="caption">
            <h4>Sushi</h4>
            <p>...</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.cafecompany.co.jp/brands/2011/11/29/wC_ueno_20111126/negitoro_web.jpg" alt="...">
          <div class="caption">
            <h4>Makimono</h4>
            <p>...</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.cafecompany.co.jp/brands/2011/11/29/wC_ueno_20111126/negitoro_web.jpg" alt="...">
          <div class="caption">
            <h4>Donburi</h4>
            <p>...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://imgfp.hotp.jp/IMGH/20/37/P013642037/P013642037_480.jpg" alt="...">
          <div class="caption">
            <h4>Sushi</h4>
            <p>...</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://imgfp.hotp.jp/IMGH/20/37/P013642037/P013642037_480.jpg" alt="...">
          <div class="caption">
            <h4>Makimono</h4>
            <p>...</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://imgfp.hotp.jp/IMGH/20/37/P013642037/P013642037_480.jpg" alt="...">
          <div class="caption">
            <h4>Donburi</h4>
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
</div>
