 <div class="row text-center">
  <div class="col-md-6">
    <h4>Your Information</h4>
    <hr>
    <h5 id ='address-confirm'>Address<h5>
    <h5>Phone Number<h5>
    <div class="col-sm-5 col-centered">
      <input class="form-control" id = "phone-input" type="tel" pattern="^\d{3}-\d{3}-\d{4}$"/>
    </div>
  </div>
   <div class="col-md-6">
    <h4>Order Information</h4>
    <hr>
    {{#each cart}}
    <h4>{{name}}:<small>${{price}} x {{quantity}} = {{itemTotalAmount}}</small></h4>
    {{/each}}
    <hr>
    <h4>Total: {{cart.total}}</h4>
    <h5>(Tax and delivery fees included)<h5>
  </div>
</div>
