 <div class="row text-center">
  <div class="col-md-6">
    <h3>Delivery Information</h3>
    <hr>
    <h5 id='address-confirm'>Address</h5>
    <h5 id='phone-confirm'>Phone Number</h5>
  </div>
   <div class="col-md-6">
    <h3>Order Information</h3>
    <hr>
    {{#each cart}}
    <h5>{{quantity}} <small>x</small> {{name}} <small>${{itemTotalAmount}}</small></h5>
    {{/each}}
    <hr>
    <h5>Total: {{cart.total}}</h5>
    <h6>(Tax and delivery fees included)<h6>
  </div>
</div>
