<div class="container text-center confirmed">
  <br /><br /><br />
  <div class="row">
    <h2>ORDER CONFIRMED</h2>
  </div>
  <hr />
  <div class="row">
    <h4>Thank you for using HACKMAI. <br />Your order is complete! You've paid <strong><%= number_to_currency(@amount / 100.0) %></strong><br /> We'll send you an email with your ETA soon.</h4>
    <p class="text-muted">TELL YOUR FRIENDS</p>
    <ul class="list-inline social-buttons">
        <li><a href="https://twitter.com/intent/tweet?text=Premium%20Japanese%20rice%20bowl%20just%20a%20click%20away%20%7C%20HACKMAI-Chicago%20www.hackmai.com&source=webclient" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=www.hackmai.com" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="https://www.linkedin.com/shareArticle?title=HACKMAI+Chicago++-+Premium+Japanese+Rice+Dishes%21&summary=Premium+Japanese+rice+dishes+from+your+finger+tips.+We+Cook+and+Deliver+You+Eat.&mini=true&url=http%3A%2F%2Fhackmai%2Ecom" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
  <hr />
  <div class="row">
  </div>
</div>
