<div class="container text-center confirmed">
  <br /><br /><br />
  <div class="row">
    <h2>ORDER CONFIRMED</h2>
  </div>
  <hr />
  <div class="row">
    <h4>Thank you for using HACKMAI. <br />Your order is complete! You've paid <strong><%= number_to_currency(@amount / 100.0) %></strong><br /> We'll send you an email with your ETA soon.</h4>
    <p class="text-muted">TELL YOUR FRIENDS</p>
  </div>
  <hr />
  <div class="row">
  </div>
</div>
